<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
        "urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Packt_MyModule::index"
                title="Customer Info"
                module="Packt_MyModule"
                sortOrder="55"
                parent="Magento_Customer::customer"
                action="mymodule/index/"
                resource="Packt_MyModule::index"
        />
    </menu>
</config>